# Binance API Keys
BINANCE_API_KEY=your_api_key_here
BINANCE_API_SECRET=your_api_secret_here

# Mode: 'live' atau 'testnet'
TRADING_MODE=testnet
DASHBOARD_USERNAME=qais
DASHBOARD_PASSWORD=User\@mis1
DASHBOARD_SECRET_KEY=ganti-dengan-random-secret-yang-panjang

# Dashboard
DASHBOARD_PORT=5000
